@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2><img src="~/images/RDocs logowhite no back-300.png" /></h2>
            <p>&nbsp;</p>
            <h3>Tecnología Cognitiva de Contenido</h3>
            <p>
                <strong>Tecnología Cognitiva Avanzada</strong> con Inteligencia Artificial <br />
                que procesa, caracteriza, y realmente comprende el <br />
                contenido y argumentos de textos de su negocio.
            </p>
        </header>
        <span class="image"><img src="~/images/RDocs-pic01.jpg" alt="" /></span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="~/images/RDocs-pic02.jpg" alt="" /></span>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="4u 12u$(medium)">
                    <header>
                        <h2>Interpretar oportuna y eficazmente sus activos de contenido no-estructurado</h2>
                    </header>
                </div>
                <div class="4u 12u$(medium)">
                    <p>
                        Poder procesar grandes volúmenes de texto no-estructurado, obteniendo información crítica y estratégica en forma instantánea
                        se convierte en el paso evolutivo que su transformación digital necesita.
                    </p>
                    <p>Convierta el contenido en sus activos de datos, aportando en la innovación transformadora que necesita.</p>
                </div>
                <div class="4u$ 12u$(medium)">
                    <h3>Entendimiento y Caracterización Documental</h3>
                    <p>
                        Nuestra <strong>Tecnología Cognitiva Avanzada</strong> realiza instantáneamente un Procesamiento de Lenguaje Natural (NLP)
                        desde contenido no-estructurado, extrayendo diferentes características fundamentales para su negocio.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
</section>


<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
    <div class="container">
        <header class="major">
            <h2>Capacidades de R:Docs</h2>
            <p>La potencia de la Tecnología Cognitiva Avanzada</p>
        </header>
        <div class="box alt">
            <div class="row uniform">
                <section class="4u 6u(medium) 12u$(xsmall)">
                    <span class="icon alt major fa-file"></span>
                    <h3>NLP - Natural Language Processing</h3>
                    <p>Desde la clasificación de contenido, hasta la interpretación avanzada del texto.</p>
                </section>
                <section class="4u 6u$(medium) 12u$(xsmall)">
                    <span class="icon alt major fa-list"></span>
                    <h3>Caracterización de Contenido</h3>
                    <p>Identificación de datos críticos dentro del contenido. Fechas especiales, montos en moneda, nombres, entre otros.</p>
                </section>
                <section class="4u$ 6u(medium) 12u$(xsmall)">
                    <span class="icon alt major fa-th"></span>
                    <h3>Argumentación Avanzada</h3>
                    <p>Reconocimiento y entendimiento del verdadero valor en el contenido argumental del texto, especialmente en contexto legal.</p>
                </section>
            </div>
        </div>
        <footer class="major">
            <ul class="actions">
                <li><a href="#" class="button">+562 2570 8864</a></li>
                <li><a href="#" class="button">comercial@rsolver.com</a></li>
            </ul>
        </footer>
    </div>
</section>

<!-- Five -->
<section id="five" class="wrapper style2 special fade">
    <div class="container">
        <header>
            <h2>Experimente R:Docs directamente</h2>
            <p>Pruebe por su cuenta</p>
        </header>
        <div class="row uniform 50%">
            <div class="12u 12u$(xsmall)">
                <a href="~/demo" class="button">Ver Demostración</a>
            </div>
        </div>
    </div>
</section>
